* {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #F0F0F0;
    margin: 0;
    color: #212529;
}

.image {
    width: 150px;
}

.banniere {
    background-color: #CE0033;
    color: #fff;
    margin-bottom: 0;
}

.btn-primary {
    background-color: #fff;
    color: #CE0033;
    border: none;
}

.btn-primary:hover {
    background-color: #CE0033;
    color: #fff;
    border: solid #fff;
}

.section-bleu {
    background-color: #F1F5F8;

}

.btn-danger {
    background-color: #CE0033;
}
.chiffres{
    background-color: #fff;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}
.formulaire{
    background-color: #fff;
}

.contact {
    width: 70%;
}

img {
    max-width: 100%;
    height: auto;
}
.card {
    border-radius: 10px;
}
/* Styles for the footer */
.footer-logo {
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;
}

.footer-icon {
    background-color: #CE0033;
    padding: 20px;
    text-align: center;
}

.footer-icon i {
    font-size: 2rem;
    color: #fff;
}
