@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #F0F0F0;
    margin: 0;
    overflow-x: hidden;
    color: #212529;
}

.image {
    width: 150px;
}

.banniere {
    background-color: #CE0033;
    color: #fff;
    margin-bottom: 0;



}


.banniere-text {
    text-align: center;
    padding: 0 20px; /* Ajustement du padding pour le texte de la bannière */
}

.banniere-text h2 {
    width: 100%; /* Pleine largeur pour le titre */
    max-width: 400px; /* Largeur maximale pour le titre */
    margin: 0 auto 20px; /* Centrage vertical et espacement inférieur */
}

.banniere-text p {
    text-align: justify; /* Justification du texte */
    line-height: 1.6; /* Hauteur de ligne augmentée pour une meilleure lisibilité */
    margin-bottom: 20px; /* Espacement inférieur */
}
.btn-outline-light {
    background-color: #fff;
    color: #CE0033;
    border: none;
    width: 50%;


}

.btn-outline-light:hover {
    background-color: #CE0033;
    color: #fff;
    border: solid #fff;

}

.section-bleu {
    background-color: #F1F5F8;

}

.btn-danger {
    background-color: #CE0033;
}
.chiffres{
    background-color: #fff;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}
.formulaire{
    background-color: #fff;
}

.contact {
    width: 70%;
}

img {
    max-width: 100%;
    height: auto;
}
.card {
    border-radius: 10px;
}
/* Styles for the footer */
.footer-logo {
    background-color: #F0F0F0;
    padding: 20px;
    text-align: center;
}

.footer-icon {
    background-color: #CE0033;
    padding: 20px;
    text-align: center;
}

.footer-icon i {
    font-size: 2rem;
    color: #fff;
}
